<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<script src="/js/jquery-3.6.0.min.js""></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<style>
   .table-responsive{
 	display: block;
    width: 100%;
    overflow-x: auto;
    margin-left: 70px;
    padding-right: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family:  
 }
 .btn btn-default{
 	float: right;	
 	font-size: 30px;
 	
 	display : none;
 }
</style>

<th:block th:fragment="locationFragment">
	<div class="content-header">
	  <div class="container-fluid">
	    <div class="row mb-2">
	      <div class="col-sm-6">
	        <h1 class="m-0">거래처 등록</h1>
	      </div><!-- /.col -->
	      <div class="col-sm-6">
	        <ol class="breadcrumb float-sm-right">
	          <li class="breadcrumb-item">거래처 등록</li>
	        </ol>
	      </div><!-- /.col -->
	    </div><!-- /.row -->
	  </div><!-- /.container-fluid -->
	</div>

<div class="content-body">
<a class="btn btn-default" href="./sample.jsp" role="button">뒤로가기</a>
	<div class="card-body">
      <p class="login-box-msg" style="font-size:21pt; font-style:oblique">사업장 등록</p>

      <th:form th:action="sample.html" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="사업장명">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="사업자 번호">
          <button class="btn btn-primary" type="submit">중복확인</button>
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="사업장 업종">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="사업자 대표명">
          <div class="input-group-append">
          </div>
        </div>
                <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="사업자 모바일">
          <div class="input-group-append">
          </div>
        </div>
                <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="사업자 이메일">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="사업장 소재지">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="date" class="form-control" placeholder="개업년월일">
          <div class="input-group-append">
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">등록</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
		</div>
	</div>
</div>	
	
	
	
</th:block>
</html>