<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- head 부분  -->
<th:block th:replace="fragments/head :: headFragment"></th:block>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Header -->
  <th:block th:replace="fragments/header :: headerFragment"></th:block>

  <!-- Sidebar -->
  <th:blcok th:replace="fragments/sidebar :: sidebarFragment"></th:blcok>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <th:block th:replace="fragments/location :: locationFragment"></th:block>
    <!-- Main content -->
    <th:block layout:fragment="customContents"></th:block>    
  </div>
  
  <!-- Footer -->
  <th:block th:replace="fragments/footer :: footerFragment"></th:block>

</div>


<!--  자바스크립트 -->
<th:block th:replace="fragments/script :: scriptFragment"></th:block>

</body>
</html>
