<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/plugins/bootstrap/js/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<style>
   .table-responsive{
 	display: block;
    width: 100%;
    overflow-x: auto;
    margin-left: 70px;
    padding-right: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family:  
 }
 .btn btn-default{
 	float: right;	
 	font-size: 30px;
 	
 	display : none;
 }
</style>

<th:block th:fragment="locationFragment">
	<div class="content-header">
	  <div class="container-fluid">
	    <div class="row mb-2">
	      <div class="col-sm-6">
	        <h1 class="m-0">계약서 등록</h1>
	      </div><!-- /.col -->
	      <div class="col-sm-6">
	        <ol class="breadcrumb float-sm-right">
	          <li class="breadcrumb-item">계약서 등록</li>
	        </ol>
	      </div><!-- /.col -->
	    </div><!-- /.row -->
	  </div><!-- /.container-fluid -->
	</div>

<div class="content-body">
<a class="btn btn-default" th:href="@{/sample}" role="button">뒤로가기<a>
	<div class="card-body">
      <p class="login-box-msg" style="font-size:21pt; font-style:oblique">계약서 등록</p>

      <th:form th:action="@{/sample}" method="post">
        <div class="input-group mb-3">
          계약 코드: <input type="text" class="form-control" placeholder="계약 코드">
          <button class="btn btn-primary" type="submit">중복확인</button>
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          거래처 대표코드: <input type="text" class="form-control" placeholder="거래처대표코드">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
         거래처 담당자 ID: <input type="text" class="form-control" placeholder="거래처 담당자 ID">
          <div class="input-group-append">
          </div>
        </div>
        	<div class="input-group mb-3">
          계약 주문유형: <select class="form-control" value="계약 주문유형">          	
          	<option>계약 주문유형</option>
          	<option>발주</option>
          	<option>수주</option>
			</select>
          <div class="input-group-append">
      	  </div>
      	 </div>
                <div class="input-group mb-3">
          계약 유형: <select class="form-control" placeholder="계약유형">
	          	<option>계약 유형</option>
	          	<option>1년 계약 미만</option>
	          	<option>1년 계약</option>
	          	<option>2년 계약</option>
	          	<option>3년 계약이상</option>
          <div class="input-group-append">
          </div>
       	 </div>
      	</select>
                <div class="input-group mb-3">
          계약시작 날짜: <input type="date" class="form-control" placeholder="계약시작날짜">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          계약종료 날짜: <input type="date" class="form-control" placeholder="계약종료날짜">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
        담당자:  <input type="text" class="form-control" placeholder="담당자">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
         등록자: <input type="text" class="form-control" placeholder="등록자">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          승인자: <input type="text" class="form-control" placeholder="승인자">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          계약일자: <input type="date" class="form-control" placeholder="계약일자">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          계약상태: <input type="text" class="form-control" placeholder="계약상태">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          적요: <input type="text" class="form-control" placeholder="적요">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          등록일시: <input type="date" class="form-control" placeholder="등록일시">
          <div class="input-group-append">
          </div>
        </div>
        <div class="input-group mb-3">
          수정일시: <input type="date" class="form-control" placeholder="수정일시">
          <div class="input-group-append">
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">등록</button>
          </div>
          <!-- /.col -->
        </div>
      </th:form>
    </div>
		</div>

</th:block>
</html>