<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart41.mybatis.mapper.MemberMapper">
	<resultMap type="Member" id="memberResultMap">
		<result column="m_id" property="memberId"/>
		<result column="m_pw" property="memberPw"/>
		<result column="m_name" property="memberName"/>
		<result column="m_level" property="memberLevel"/>
		<result column="m_email" property="memberEmail"/>
		<result column="m_addr" property="memberAddr"/>
		<result column="m_reg_date" property="memberRegDate"/>
	</resultMap>
	
	<select id="getMemberList" resultType="Member">
		SELECT 
			m.m_id AS memberId
			,m.m_pw AS memberPw
			,m.m_name AS memberName
			,m.m_level AS memberLevel
			,m.m_email AS memberEmail
			,m.m_addr AS memberAddr
			,m.m_reg_date AS memberRegDate
		FROM
			tb_member AS m;
	</select>

</mapper>